/* *********************************
CSS Reset 
************************************/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html:focus-within {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  display: flex;
  flex-direction: column;
  font-family: "Figtree", sans-serif;
  color: var(--color-text);
  background: var(--color-bg);
  overflow-x: hidden;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

/* *********************************
ROOT 
************************************/

:root {
  --color-bg: #06171e;
  --color-card: #0d1b24;
  --color-accent: #ff4d4d;
  --color-text: #ffffff;
  --max-width: 1440px;
}

/* *********************************
LAYOUT & MAIN
************************************/

.container {
  max-width: var(--max-width);
  margin: 0 auto;
  padding: 0 40px;
  width: 100%;
}

.container_inner {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

header {
}

.header-container {
  display: flex;
  justify-content: center;
  gap: 20px;
}
